@import "colors";

footer{
    background-color: #f4f4f4;
    height: 250px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;

    >div{
        height: 100%;
        width: 30%;
        // background-color: yellow;
        padding: 1rem;

        >h1{
                font: 500 3.5rem $text3;
                color: #881E1E;
        }
        >h3{
            color: #881E1E;
        }
        >h4{
            margin-top: 0.5rem;
        }
    }

    .follow{
        // background-color: blue;
        display: flex;
        flex-direction: column;
        text-align: center;

        >h3{
            font: 500 1.5rem $text3;

        }

        >a{
            margin-top: 1rem;
            color: black;
        }
    }

}